<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">If you would like to get a quote please give us a call or email</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-subheading text-muted">cabinteelyframing@gmail.com</h4>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-subheading text-muted">
                        21 Monaloe Ave, Cabinteely
                    </h4>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-subheading text-muted">086 805 7979</h4>
                </div>
            </div>
        </div>
</section>
